{
  "printWidth": 140,
  "singleQuote": true,
  "useTabs": true,
  "semi": false,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "arrowParens": "always",
  "trailingComma": "es5"
}
